# Created by .ignore support plugin (hsz.mobi)
.idea/
.idea/*
*.mide.txt
CLAUDE.md
.vscode/
.vscode/*
*.vscode.txt
*.sublime-workspace
*.sublime-project
*.sublime-settings
*.sublime-workspace.txt
*.sublime-project.txt
*.sublime-settings.txt
*.sublime-**
*.sublime-text-3
*.sublime-text-4        
.claude/
.claude/*

